@charset "UTF-8";
body {
  background-color: black;
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

.greyColor {
  color: grey; }

.whiteColor {
  color: white; }

.head {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800; }

h1, h3 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

#mygrid {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 10vh 90vh; }

#blockList {
  grid-column: 1/2;
  grid-row: 1/2; }

#cards {
  grid-column: 1/2;
  grid-row: 2/3;
  position: relative; }

#rightSide {
  height: 100vh;
  grid-column: 2/3;
  grid-row: 1/3;
  display: grid;
  grid-template-rows: 10vh 70vh auto; }

#mediaLogo {
  width: 100%;
  grid-column: 1/-1;
  grid-row: 1/2;
  background-color: blue; }

#messenger {
  width: 100%;
  grid-column: 1/-1;
  grid-row: 2/3;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: black;
  border: 2px solid blue; }

#messenger > p {
  font-size: 14px;
  color: white;
  padding: 10px 20px 0 10px; }

#spiral {
  width: 100%;
  grid-column: 1/-1;
  grid-row: 3/4;
  background-color: blue;
  display: grid;
  grid-template-columns: 40% 60%; }

#blockList {
  width: 70%;
  text-transform: uppercase;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
  font-family: Arial, serif;
  font-size: 12px;
  font-weight: 800; }

h3 {
  width: 100%;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 20px; }

li {
  font-size: 13px;
  min-height: 150px;
  height: auto;
  list-style-type: none; }

li.pseudo {
  min-height: 0; }

p {
  width: 100%; }

.card {
  height: 350px;
  width: 500px;
  position: absolute;
  background: white;
  border: 3px solid blue;
  border-left: 0; }

.card:before {
  content: "";
  position: absolute;
  right: 100%;
  top: -3px;
  border-width: 15px;
  border-style: solid;
  border-color: blue;
  border-left-color: transparent;
  border-top-color: transparent; }

.card:after {
  content: '';
  background: white;
  position: absolute;
  box-sizing: border-box;
  width: 30px;
  right: 100%;
  bottom: -3px;
  top: 27px;
  border-width: 0 0 3px 3px;
  border-color: blue;
  border-style: solid; }

.cardContainer {
  position: relative;
  margin-right: 20%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.arrowRight {
  width: 30px;
  transform: rotate(180deg);
  position: absolute;
  top: 45%;
  right: -30%; }

.arrowRight:hover {
  cursor: pointer; }

.variant {
  width: 100%;
  display: grid;
  grid-template-columns: 100% 20%; }

.hide {
  display: none; }

.show {
  display: block; }

button {
  min-width: 50px;
  background-color: white;
  color: black;
  font-size: 12px;
  padding: 5px;
  border: 1px solid #555555; }

.additionalInfo {
  display: none;
  font-style: italic;
  color: blue; }

.block-end {
  width: 30vw;
  height: 80vh;
  background-color: black;
  border: 3px solid white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

/*Спираль*/
#content {
  margin-top: 50vh; }

#chart {
  margin: 0 auto 0 auto;
  height: auto; }

.points {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  color: white; }

.block2, .block3, .block4, .block5, .block6, .hiddenCard {
  display: none; }

button.answerYes, button.choice, button.next, button.error, button.myHint, button.answerNo, button.noThanks {
  position: absolute;
  bottom: -20px;
  z-index: 100000; }

button.answerYes, button.choice, button.next, button.error, button.myHint {
  left: 0; }

button.answerNo, button.noThanks {
  right: 0; }

/*# sourceMappingURL=application.css.map */
